BeautifulSoup==3.2.1
configparser==3.5.0
cycler==0.10.0
Django==1.10
enum34==1.1.6
flake8==3.0.4
image==1.5.4
jieba==0.38
matplotlib==1.5.1
mccabe==0.5.2
numpy==1.11.1
pandas==0.18.1
Pillow==3.3.0
py2exe==0.6.9
pycodestyle==2.0.0
pyflakes==1.2.3
pyparsing==2.1.7
pyreadline==1.7.1
python-dateutil==2.5.3
python-nmap==0.6.1
pytz==2016.6.1
requests==2.10.0
six==1.10.0
spidermonkey==50.0a2.post2
wordcloud==1.2.1
yapf==0.11.1
